<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<appSettings>



		<!--<add key="con" value="server=52.163.208.223 ;uid=sa;pwd=manal@123; database=EMMETTEST;"/>-->
		<add key="con" value="server=.;database=CrusherErp; Integrated Security=True;"/>
		<!--Encryption/Decryption details -->
		<add key="passPhrase" value="Pas5pr@se"/>
		<add key="saltValue" value="s@1tValue"/>
		<add key="hashAlgorithm" value="SHA1"/>
		<add key="passwordIterations" value="2"/>
		<add key="initVector" value="@1B2c3D4e5F6g7H8"/>
		<add key="keySize" value="256"/>
		<!--add key="base_url" value="D:/TraderERP-UAT/" />-->
		<add key="base_url" value="http://localhost:63062/"/>
		<!--<add key="Live_url" value="http://test.com/" />-->


	</appSettings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
     -->
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime requestValidationMode="2.0"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
		<!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
     -->

		<authentication mode="Forms">
			<forms name=".ASPXFORMSDEMO" loginUrl="Default.aspx" protection="All" path="/" timeout="2880" />
		</authentication>
		<authorization>
			<deny users ="?" />
			<allow users = "*" />
		</authorization>
		<!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
		<!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->

		<sessionState timeout="1450"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- Update this value to set the max length -->
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>